@import 'partials/setup';
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/login';
@import 'partials/header';
@import 'partials/formelements';
@import 'partials/description';
@import 'partials/proplists';
@import 'partials/video';


html{
	font-size: 62.5%
}

body{
	background: $backgroundColor;
	background-image: url(../../assets/bg-1280px.png);
	background-size: cover;
	background-repeat: repeat-y;
	font-family: $bodyFont;
	@media(max-width: 768px){
		background-image: url(../../assets/bg-768px.png);
		background-size: cover;
		background-repeat: repeat-y;
	}
	@media(max-width: 480px){
		background-image: url(../../assets/bg-480px.png);
		background-size: cover;
		background-repeat: repeat-y;
	}
}

ul{
	list-style: none;
}

.wrapper{
	width: 80%;
	max-width: 1080px;
	margin: 0 auto;
}


