button{
	position: relative;
	padding: 12px 24px;
	border:none;
	border: 3px solid $mainColor;
	background: none;
	background-color:rgba(255,255,255,0.1);
	color: $secondaryColor;
	font-family: $titleFont;
	transition: all .5s;
}

button:hover{
	text-shadow: 2px 2px 1px $mainColor;
	box-shadow:  5px 5px 5px $secondaryColor;
	// padding: 16px 28px;
}

button::before{
	position: absolute;
	content: "";
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 0px solid $mainColor;
	transition: all .5s;
}

// button:hover:before{
// 	position: absolute;
// 	content: "";
// 	z-index: -1;
// 	top: 5px;
// 	left: 5px;
// 	bottom: -10px;
// 	right: -10px;
// 	border: 3px solid $secondaryColor;
// }

input[type=text]{
	position: relative;
	padding: 20px 60px;
	border:none;
	border: 3px solid rgba( $mainColor, 1);
	background: none;
	background-color: rgba( $mainColor, 0.5);
	color: $secondaryColor;
	font-family: $titleFont;
	transition: all .5s;
}

input[type=text]::placeholder{
	color:$secondaryColor;
}

input[type=text]:focus{
	border: #fff;
	background-color: rgba( $mainColor, 0.7);
	color: $secondaryColor;
	border: 3px solid rgba($secondaryColor 0.3);
}

textarea,  input {
	outline: none;
}

textarea{
	animation: rotateOutUpLeft 1s infinite;
}



// input[type=text]:hover{
// 	text-shadow: 2px 2px 1px $mainColor;
// }