button{
	padding: 12px 24px;
	border:none;
	border: 3px solid $mainColor;
	border-radius: 3px;
	background: none;
	background-color:rgba(255,255,255,.6);
	color: $secondaryColor;
	font-family: $titleFont;
	font-size: $buttonSize;
	text-transform: uppercase;
	transition: all .5s;
	&:hover{
		text-shadow: 2px 2px 1px $mainColor;
		box-shadow:  5px 5px 5px $secondaryColor;
	}
	&:focus{
		outline: none;
	}
}

input[type=text]{
	position: relative;
	padding: 20px 60px;
	border: 3px solid $mainColor;
	border-radius: 3px;
	background: none;
	background-color:rgba(255,255,255,.6);
	color: #fff;
	font-family: $titleFont;
	font-size: $bodySize;
	transition: all .5s;
	&:focus{
		background-color: rgba( $mainColor, 1);
		color: #fff;
		box-shadow: 5px 5px 5px $secondaryColor;
	}
	&:placeholder {
	color:#333;
}
}

input[type=text]::placeholder{
	color:#333;
	&:focus{
		color:#ddd;
	}
}


textarea,  input {
	outline: none;
}

.pickFilm{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60vh;
	.pickList{
		display: flex;
		flex-direction:column;
		text-align: center;
		margin:auto;
	}
}

.pickList ~ label, select, input{
	margin-bottom: 20px;
}

label{
	font-family: $titleFont;
	font-size: $buttonSize;
	color:$secondaryColor;
	text-transform: uppercase;
	margin-bottom: 10px;
}

select{
	width: 500px;
	height: 50px;
	outline:none;
	border:none;
	border-radius:3px;
	border:3px solid $secondaryColor;
	background-color:rgba(255,255,255,.6);
	overflow: hidden;
	font-family: $bodyFont;
	font-size: $bodySize;
	text-align: center;
	text-transform: uppercase;
	color:$secondaryColor;
	@media (max-width: 768px){
		width: 300px;
   }
}

input[type=submit]{
	padding: 12px 24px;
	border:none;
	border: 3px solid $mainColor;
	border-radius: 3px;
	background: none;
	background-color:rgba(255,255,255,.6);
	color: $secondaryColor;
	font-family: $titleFont;
	font-size: $buttonSize;
	text-transform: uppercase;
	transition: all .5s;
	&:hover{
		text-shadow: 2px 2px 1px $mainColor;
		box-shadow:  5px 5px 5px $secondaryColor;
	}
}